
h1 {
	color: Navy;
	text-align: center;
	font-style: italic;
	font-size: 400%;
}

p {
	color: OrangeRed;
	text-align: center;
	font-style: italic;
	font-size: 150%;
}

body {
	background-image: url("https://img00.deviantart.net/933e/i/2010/058/b/5/italy_grunge_flag_1440x900_by_qian12.jpg");
}

img {
    display: block;
    margin: auto;
    width: 30%;
	  
}

ul {
	list-style-type: none;
	background:white;
}


li {
	padding: 7px;
	font-size: 10p;
	
}

