
h1 {
	color: Gold;
	text-align: center;
	font-style: italic;
}

p {
	color: Gold;
	text-align: center;
	font-style: italic;
}

div {
    text-align: justify;
}

body {
	background-image: url("https://img00.deviantart.net/933e/i/2010/058/b/5/italy_grunge_flag_1440x900_by_qian12.jpg");
}

